*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-size: 20px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
   
}
.header{
    background-color: #f1f1f1;
    padding: 14px;
    text-align: center; 
   
}

.footer{
    background-color: #f1f1f1;
    padding: 7px;
    text-align: center;
    width: 60%;
    border-radius: 20px;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 20%;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.region{
    height: 20px;

}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50%;
}
.column1{
    float: left;
    width: 25%;
    padding: 15px;
}


 button{
    display: block;
    color: #000;
    padding: 14px 8px;
    text-decoration: none;
    width: 100%;
    
    border-radius: 20px;
    font-size: 20px;
    margin: 10px;

}
 button:hover{
    background-color: #555;
    color: white;
    border-radius: 20px;
}

.column2{
    float: left;
    width: 75%;
    padding: 15px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
@media screen and (max-width: 600px){
    .column1{width: 100%;}
    .column2{width: 100%;}
}
#Customers{
    
    border-collapse: collapse;
    width: 100%;
    
}
#Customers td, #Customers th{
    border: 1px solid #ddd;
    padding: 8px;
}
#Customers tr:nth-child(even){background-color: #f2f2f2;}
#Customers tr:hover{ background-color: #ddd;}
 th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: yellowgreen;
    color: white;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}
.tableau{
    overflow: auto;
    height: 300px;
  
}


 input[type=text],input[type=date],select{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;


}
 input[type=number]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    

}
 input[type=float]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    

}
 input[type="submit"]{
    width: 50%;
    background-color: yellowgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 25%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    
}
.enveloppe2{
    border-radius: 5px;

    padding: 20px;
}
textarea{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 35%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
}
span{
    color: green;
    
}
#succes{
    display: none;
}
.active{
    background-color: #ddd;
    color:#000;
    border-radius: 50%;
}

#region{
    display: none;
}

